.display {
  font-size: 5.5em;
  margin: .5em 0;
}

.notification-denied mark {
  margin: 1em 0;
  font-style: italic;
}

button {
  margin: 2em 0;
}

.setter-header {
  font-size: 1em;
  margin: 1.5em 0;
}
